.produktliste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;

  border: solid black;
  background-color: beige;
}
body {
  background-color: rgba(245, 245, 220, 0.592);
}

img {
  max-width: 100%;
}
.produktliste p,
h2,
h3 {
  margin: 10%;
}
